<!DOCTYPE html>
<html>
<head>
    <title><%=pageName%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
<h1>Hello, <%=userName%></h1>
<form method="post">
    <table>
        <tr>
            <td> <label for="userPasswordId">Create new password: </label> </td>
            <td> <input id="userPasswordId" type="password" maxlength="25" name="userPassword"
                        pattern="[A-Za-z0-9]{6,}" title="Not less than 6 symbols of letters or/and numbers" required> </td>
        </tr>
        <tr>
            <td> <label for="userPassword2Id">Confirm password: </label> </td>
            <td> <input id="userPassword2Id" type="password" maxlength="25" name="userPassword2"
                        pattern="[A-Za-z0-9]{6,}" title="Not less than 6 symbols of letters or/and numbers" required> </td>
        </tr>
        <tr>
            <td> <input type="submit" value="Change password" > </td>
        </tr>
    </table>
</form>
</body>
</html>