<!DOCTYPE html>
<html>
<head>
    <title><%=pageName%></title>
    <link rel="icon" href="/images/favicon.png">
    </head>
<body>
    <h1>
        To change password
    </h1>

    <form class="center" method="post">
        <label for="emailId">Enter your email:</label>
        <input type="text" id="emailId" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <input type="submit" value="OK">
    </form>

</body>
</html>