<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome!</h1>
    <button onclick="window.location='/login'">Log in</button>
    <button onclick="window.location='/registration'">Sign up</button>
  </body>
</html>
