<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button onclick="window.location='/login'">Log in</button>
    <button onclick="window.location='/registration'">Sign up</button>
  </body>
</html>
