<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="icon" href="/images/favicon.png">
  </head>
  <body>
    <h1>Welcome!</h1>
    <button onclick="window.location='/profile'">Go to profile</button><br><br>
    <button onclick="window.location='/login'">Log in</button>
    <button onclick="window.location='/registration'">Sign up</button>
  </body>
</html>
