<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Log in</h1>
    <form name="loginForm" method="post">
        <table>
            <tr>
                <td> <label for="userNameId">Name: </label> </td>
                <td> <input id="userNameId" type="text" name="userName"> </td>
            </tr>
            <tr>
                 <td> <label for="userPasswordId">Password: </label> </td>
                 <td> <input id="userPasswordId" type="password" name="userPassword"> </td>
            </tr>
            <tr>
                <td> <input type="submit" value="Log in"> </td>
            </tr>
        </table>
    </form>
  </body>
</html>
