<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Log in</h1>

    <form name="loginForm" method="post">
        <table>
            <tr>
                <td> <label for="userNameId">Name: </label> </td>
                <td> <input id="userNameId" type="text" maxlength="20" name="userName" required> </td>
            </tr>
            <tr>
                 <td> <label for="userPasswordId">Password: </label> </td>
                 <td> <input id="userPasswordId" type="password" maxlength="25" name="userPassword" required> </td>
            </tr>
            <tr>
                <td> <input type="submit" value="Log in"> </td>
            </tr>
        </table>
    </form>
    <a href="/login/facebook"><img src="/pictures/facebook-login-icon.jpg" height="100"></a>
    <br>
    <form action="/forgot">
        <label>Forgot password?</label>
        <button>Change password</button>
    </form>
    <br>
    <form action="/registration">
        <label>Do not have an account?</label>
        <button>Go sign up</button>
    </form>
  </body>
</html>
