<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Products</h1>

    <form action="/newproduct">
        <button>Add new product</button>
    </form>
    <br>


    <table class="user-products">
        <tr><th>№</th><th>Photo</th><th>Name</th><th>Description</th></tr>
        <% for (var i=0; rows[i]; i++){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><img class="product-pic" src="<%= rows[i].pictureLink %>" alt="No picture"></td>
                <td><p><%= rows[i].productName %></p></td>
                <td><textarea cols="50" rows="6" readonly disabled><%= rows[i].description %></textarea></td>
            </tr>
        <% } %>



    </table>



<!--check pic link , check is there any product?-->



</body>
</html>
