<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Products</h1>

    <form action="/newproduct">
        <button>Add new product</button>
    </form>

    <p>Here will be shown your products...</p>
</body>
</html>
