<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <% include ./partials/topNavigation %>

    <h1>Profile</h1>
    <p>ID: <%=user.id%></p>
    <p>Name: <%=user.userName%></p>
</body>
</html>
