<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <form method="post">
        <button class="logout-button">Log out</button>
    </form>

    <h1>Profile</h1>
    <p>ID: <%=user.id%></p>
    <p>Name: <%=user.userName%></p>
    <br>
    <form action="/products/1">
        <button>My products</button>
    </form>
</body>
</html>
