<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Registration</h1>
    <form name="registrationForm" method="post">
            <table>
                <tr>
                    <td> <label for="userNameId">Name: </label> </td>
                    <td> <input id="userNameId" type="text" name="userName"> </td>
                </tr>
                <tr>
                     <td> <label for="userPasswordId">Create password: </label> </td>
                     <td> <input id="userPasswordId" type="password" name="userPassword"> </td>
                </tr>
                <tr>
                     <td> <label for="userPassword2Id">Confirm password: </label> </td>
                     <td> <input id="userPassword2Id" type="password" name="userPassword2"> </td>
                </tr>
                <tr>
                    <td> <input type="submit" value="Sign up" > </td>
                </tr>
            </table>
        </form>
  </body>
</html>