<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Registration</h1>

    <form name="registrationForm" method="post">
            <table>
                <tr>
                    <td> <label for="userNameId">Name: </label> </td>
                    <td> <input id="userNameId" type="text" maxlength="20" name="userName" required> </td>
                </tr>
                <tr>
                    <td> <label for="emailId">Email: </label> </td>
                    <td> <input id="emailId" type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required> </td>
                </tr>
                <tr>
                     <td> <label for="userPasswordId">Create password: </label> </td>
                     <td> <input id="userPasswordId" type="password" maxlength="25" name="userPassword"
                                 pattern="[A-Za-z0-9]{6,}" title="Not less than 6 symbols of letters or/and numbers" required> </td>
                </tr>
                <tr>
                    <td> <label for="userPassword2Id">Confirm password: </label> </td>
                    <td> <input id="userPassword2Id" type="password" maxlength="25" name="userPassword2"
                                pattern="[A-Za-z0-9]{6,}" title="Not less than 6 symbols of letters or/and numbers" required> </td>
                </tr>
                <tr>
                    <td> <input type="submit" value="Sign up" > </td>
                </tr>
            </table>
     </form>

    <br>
    <br>
    <br>
    <form action="/login">
        <label>Already have an account?</label>
        <button>Go log in</button>
    </form>
  </body>
</html>