body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    border: solid 1px blue;
}
th {
     border: solid 1px blue;
     text-align: center;
 }

td {
    border: solid 1px blue;
    text-align: center;
}

img.productPic{
    max-height: 150px;
    width: auto;
 }