body {
    padding: 50px;
    font: 16px "Times New Roman", Times, sans-serif;
}

a {
  color: #00B7FF;
}

form, table, th, tr, td, button, input[type="button"], input[type="submit"] {
    font: inherit;
}

table.user-products {
    font: inherit;
    border-collapse: collapse;
    z-index: 30;
}

img.picture {
    max-height:100px;
    max-width: 200px;
}

.user-products td, .user-products th {
    text-align: center;
    padding: 5px;
    border: 1px solid blue;
}

.menu-div form {
    display: inline;
}

.logout-button {
    position: absolute;
    right: 35px;
}

textarea {
    font: inherit;
    color: inherit;
    resize: none;
    width: 468px;
}

.user-products textarea {
    border: 0px;
    background-color: white;
}

.add-product-form input[type="text"], .edit-product-form input[type="text"]{
    width: 470px;
}

#priceId {
    width: 458px;
}

.sort-table input[type="button"], .sort-table input[type="submit"] {
    height: 80px;
    width: 50px;
}

.center {
    text-align: center;
}

/* CHAT */

#chat-ico {
    position: fixed;
    bottom: 420px;
    right: 20px;
}

#error-div {
    position: fixed;
    bottom: 420px;
    right: 60px;

    padding: 5px;
    background-color: lightcoral;
}

#name-menu {
    position: fixed;
    bottom: 370px;
    right: 20px;
    padding: 5px;
    background-color: azure;
    border: lightblue solid 1px;
}

.chat-pic {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

#chat {
    position: relative;
    font: inherit;
    font-size: 12px;
}

#message-list {
    padding: 3px;
    background-color: azure;
    border: #00B7FF solid 1px;
    width: 248px;
    height: 340px;
    position: fixed;
    right: 20px;
    bottom: 70px;
    list-style-type: none;
    overflow-y: scroll;
}

#message-list label {
    color: dimgrey;
}

#message-list div {
    background-color: lightblue;
    margin-top: 5px;
}

#message-list img {
    float: left;
    right: 3px;
    top: 3px;
    margin: 3px;
}

#chat textarea {
    border: #00B7FF solid 1px;
    position: fixed;
    right: 70px;
    bottom: 20px;
    width: 200px;
}

#send-button {
    border: #00B7FF solid 1px;
    background-color: #00B7FF;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 51px;
}

.hidden {
    display: none;
}