body {
    padding: 50px;
    font: 16px "Times New Roman", Times, sans-serif;
}

a {
  color: #00B7FF;
}

form, table, th, tr, td, button, input[type="button"], input[type="submit"] {
    font: inherit;
}

table.user-products {
    font: inherit;
    border-collapse: collapse;
}

img.product-pic {
    max-height:100px;
    max-width: 200px;
}

.user-products td, .user-products th {
    text-align: center;
    padding: 5px;
    border: 1px solid blue;
}

.menu-div form {
    display: inline;
}

.logout-button {
    position: absolute;
    right: 35px;
}

textarea {
    font: inherit;
    color: inherit;
    resize: none;
    width: 468px;
}

.user-products textarea {
    border: 0px;
    background-color: white;
}

.add-product-form input[type="text"], .edit-product-form input[type="text"]{
    width: 470px;
}

#priceId {
    width: 458px;
}

.sort-table input[type="button"], .sort-table input[type="submit"] {
    height: 80px;
    width: 50px;
}

.center {
    text-align: center;
}