<!DOCTYPE html>
<html>
<head>
    <title>New product</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <h1>New product</h1>
    <form class="add-product-form" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td> <label for="productNameId">Name: </label> </td>
                    <td colspan="2"> <input id="productNameId" type="text" maxlength="25" name="productName" required> </td>
                </tr>
                <tr>
                    <td> <label for="priceId">Price: </label> </td>
                    <td> $ </td>
                    <td> <input type="text" name="price" id="priceId" pattern="\d{1,7}\.\d{2}" placeholder="75.20" required></td>
                </tr>
                <tr>
                    <td> <label for="descriptionId">Description: </label> </td>
                    <td colspan="2"> <textarea id="descriptionId" maxlength="300" cols="50" rows="6" name="description" required></textarea> </td>
                </tr>
                <tr>
                    <td> <label for="pictureFileId">Upload Photo: </label> </td>
                    <td colspan="2"> <input id="pictureFileId" type="file" accept=".png,.jpeg,.jpg" name="pictureFile" onchange="showFile(event)" required> </td>
                </tr>
                <tr>
                    <td><label for="fileImgId">Photo: </label> </td>
                    <td colspan="2"><img id="fileImgId" class="picture" alt="No picture"></td>
                    <script src="/scripts/showFile.js"></script>
                </tr>
                <tr>
                    <td> <input type="submit" onclick="return confirm('Are you sure to add this product?');" value="Add" > </td>
                </tr>
            </table>
     </form>
</body>
</html>