<!DOCTYPE html>
<html>
<head>
    <title>New product</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>New product</h1>
    <form class="add-product-form" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td> <label for="productNameId">Name: </label> </td>
                    <td> <input id="productNameId" type="text" maxlength="25" name="productName" required> </td>
                </tr>
                <tr>
                    <td> <label for="descriptionId">Description: </label> </td>
                    <td> <textarea id="descriptionId" maxlength="300" cols="50" rows="6" name="description" required></textarea> </td>
                </tr>
                <tr>
                    <td> <label for="pictureFileId">Upload picture: </label> </td>
                    <td> <input id="pictureFileId" type="file" accept=".png,.jpeg,.jpg" name="pictureFile" required> </td>
                </tr>
                <tr>
                    <td> <input type="submit" onclick="return confirm('Are you sure to add this product?');" value="Add" > </td>
                </tr>
            </table>
     </form>
</body>
</html>