<!DOCTYPE html>
<html>
<head>
    <title>Product editing</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="/images/favicon.png">
</head>

<body>
<h1>Product editing</h1>

 <form class="edit-product-form" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td> <label for="productNameId">Product: </label> </td>
                <td colspan="2"> <input type="text" id="productNameId" name="productName" required value="<%=product.productName%>"></td>
            </tr>
            <tr>
                <td> <label for="priceId">Price: </label> </td>
                <td> $ </td>
                <td> <input type="text" name="price" id="priceId" pattern="\d{1,7}\.\d{2}" placeholder="75.20" required value="<%=product.price%>"></td>
            </tr>
            <tr>
                <td> <label for="descriptionId">Description: </label> </td>
                <td colspan="2"> <textarea id="descriptionId" maxlength="300" cols="50" rows="6" name="description" required><%=product.description%></textarea> </td>
            </tr>
            <tr>
                <td> <label for="pictureFileId">To change photo: </label> </td>
                <td colspan="2"> <input id="pictureFileId" type="file" accept=".png,.jpeg,.jpg" name="pictureFile" onchange="showFile(event)" > </td>
            </tr>
            <tr>
                <td><label for="fileImgId">Photo: </label> </td>
                <td colspan="2"><img id="fileImgId" class="product-pic" src="<%=product.pictureLink%>" alt="No picture"></td>
                <script>
                    function showFile(event) {
                        let reader = new FileReader();

                        reader.onload = (event) => {
                            document.getElementById('fileImgId').src = event.target.result;
                        };

                        reader.readAsDataURL(event.target.files[0]);
                    }
                </script>
            </tr>
            <tr>
                <td> <input type="submit" value="Edit" onclick="return confirm('Are you sure to edit this product?')" > </td>
            </tr>
        </table>
</form>
</body>
</html>